@import '../colors';
@import '../mixins';

.page {
  display: flex;
  flex-direction: column;

  min-height: 100dvh;
  padding: 16px;
  padding-top: 0;

  @include onTablet {
    padding: 40px 60px;
  }

  &__title {
    margin-bottom: 48px;
    font-size: 56px;
    font-weight: 500;
    color: $color-gray-80;

    @include onTablet {
      margin-bottom: 0;
      font-size: 100px;
    }

    @include onDesktop {
      font-size: 140px;
    }

    &--project {
      @include onTablet {
        margin-bottom: 40px;
        line-height: 100%;
      }
    }
  }

  &__home-first-screen {
    @include onTablet {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;

      height: calc(100dvh - 100px);
      max-height: 544px;
    }

    @include onDesktop {
      height: calc(100dvh - 140px);
    }
  }

  &__header {
    position: sticky;
    min-height: 66px;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 64px;
    }
  }

  &__block {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 68px;
    }

    @include onDesktop {
      margin-bottom: 98px;
    }
  }

  &__project-block {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 96px;
    }

    @include onDesktop {
      margin-bottom: 98px;
    }
  }
}
