$color-gray-100: #08090a;
$color-gray-90: #141414;
$color-gray-80: #212529;
$color-gray-70: #343a40;
$color-gray-60: #868e96;
$color-gray-50: #adb5bd;
$color-gray-40: #ced4da;
$color-gray-30: #dce3eb;
$color-gray-20: #f0f3f6;
$color-gray-10: #f8f9fa;

$color-main: #fff;

$color-primary-0: #d870a7;
$color-primary-1: #f88bc5;
$color-primary-2: #f9a2d1;
$color-primary-3: #fbb9dc;
$color-primary-4: #fcd1e8;

$color-accent-light: #5B8DFD;
$color-accent-dark: #142D6F;
$color-accent-neon: #7048E8;
$color-accent-contrast: #FF7946;
$color-accent-danger: #FFCBCB;

$box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
