@font-face {
  font-family: Matter;
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Matter-Regular.ttf');
}

@font-face {
  font-family: Matter;
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Matter-Medium.ttf');
}

@font-face {
  font-family: Matter;
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/Matter-Bold.ttf');
}
