@import '@/assets/sassStyles/colors';
@import '@/assets/sassStyles/mixins';

.contact {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  padding: 13px 15px;

  background-color: $color-primary-1;
  border-radius: 100px;
}

.contact span {
  font-size: 18px;
  font-weight: 700;
  color: $color-gray-10;
}
