@import '@/assets/sassStyles/colors';
@import '@/assets/sassStyles/mixins';

.about-project {
  &__title {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 500;
    color: $color-gray-80;

    @include onTablet {
      margin-bottom: 24px;
      font-size: 48px;
    }

    @include onDesktop {
      margin-bottom: 32px;
      font-size: 64px;
    }
  }

  &__picture {
    width: 100%;
    margin-bottom: 32px;

     @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 96px;
    }
  }

  &__overview {
    font-size: 18px;
    font-weight: 500;
    color: $color-gray-90;

    @include onTablet {
      font-size: 24px;
      line-height: 120%;
    }
  }
}
