@import '@/assets/sassStyles/colors';
@import '@/assets/sassStyles/mixins';

.capabilities {
  padding: 40px 16px;
  background-color: $color-primary-2;
  border-radius: 24px;

  @include onTablet {
    padding: 56px 40px;
  }

  &__title {
    margin-bottom: 38px;
    padding: 16px 24px;

    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    color: $color-gray-100;

    background-color: $color-gray-10;
    border-radius: 24px;

    @include onTablet {
      display: inline-block;
      font-size: 48px;
      border-radius: 40px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 34px;
    }
  }

  &__item {
    padding: 16px;
    background-color: $color-primary-1;
    border-radius: 24px;
  }

  &__item h3 {
    margin-bottom: 8px;

    font-size: 28px;
    font-weight: 500;
    line-height: 140%;
    color: $color-gray-10;

    @include onTablet {
       font-size: 32px;
    }
  }

  &__item p {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    color: $color-gray-10;

    @include onTablet {
       font-size: 24px;
    }
  }
}
